header{
    border: 2px solid red;
    width: 1280px;
    height: 150px;
    margin: 0px auto;
    padding: 40px 0px 55px 44px;
}
.logo{
    
    vertical-align: middle;
    margin-right: 72px;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
li{
    display: inline-block;
    margin-right: 100px;
}
section{
    width: 1280px;
    height: 779px;
    border: 2px solid #306b34;
    margin: 0px auto;
    background-color:#306b34 ;
    padding: 174px 0px 355px 95px;
}
div{
    
   
    display: inline-block;
    vertical-align: top;
    width: 307px;
    height:380px ;  
}
 .text1, .text2{
    margin-left: 89px;
 }
 .text1{
    font-size: 30px;
    width: 254px;
    height: 30px;
 }
 .text2{
    margin-top: 103px;
    color: #f4f4f1;
    font-style: italic;
    font-family: 'Playfair Display';
 }
 article{
    width: 959px;
    margin: 0px auto;
    padding: 100px 137px 218px 184px;
    
 }
 .satauri{
    width: 272px;
    height: 46px;
    margin: 0px auto;
    font-size: 40px;
    font-style: italic;
    
 }
 .articletext{
    margin-top: 72px;
    font-size: 20px;
    font-family: 'La Belle Aurore';
 }
 footer{
    border: 2px solid green;
    background-color: #306b34;
    height: 68px;
    width: 1280px;
    margin: 0px auto; 
    padding: 25px 0px 30px 72px;;
    
 }
 .photo1{
    display: inline-block;
    vertical-align: middle;
    width: 106px;
    /* margin-bottom: 27px;
    width: 108px;
    color: #f4f4f1; */
    }
 
    .text3{
    /* width: 265px;
    height: 21px; */
    display: inline-block;
    vertical-align: middle;
    margin-left: 724px;
    /* margin-left: 724px;
    color:#f4f4f1 ; */
    
 }