header{
    border: 2px solid red;
    width: 1280px;
    height: 150px;
    margin: 0px auto;
    padding: 40px 0px 55px 44px;
}
.logo{
    
    vertical-align: middle;
    margin-right: 72px;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
li{
    display: inline-block;
    margin-right: 100px;
}